imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml

default:
    suites:
        paths:
            - "features"
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    extensions:
        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~

        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
                        # adapt this to whatever the real URL is to your local site
                        base_url: https://localhost:8001/
                        # or use "goutte"
                        default_session: symfony
                        javascript_session: selenium2
                        browser_name: chrome
                        symfony: ~
                        selenium2: ~

        FriendsOfBehat\SymfonyExtension: ~

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"

    gherkin:
        filters:
            tags: "~@todo && ~@cli" # CLI is excluded as it registers an error handler that mutes fatal errors
